
body{
    background-image: url(/img/fondo.jpg);
    background-repeat: repeat;
    background-size: 50%;
}

.btn-hover {
    transition: transform 0.3s;
}
.btn-hover:hover {
    transform: scale(1.1);}
.container {background-color: #f798a6;
    margin-top:1em;
    border-radius: 3%;
}


