body {
    background-image: url(/img/cupcake2.JPG);
    background-repeat: repeat;
    background-size: cover;
}
.logo {
    width: 5em; 
    height: auto;
}
.info-container {
    background-size: 50%;
    background-color: rgba(254, 193, 236, 0.379);
    text-align: justify;
    margin-top: 1em;
    max-width: 800px;
    margin-left: auto; 
    margin-right: auto;
    border-radius: 3%;
}
.conoce{text-align: center;}
.header{
    display:flex;
    padding:10px;
    align-items: center;
    justify-content:space-evenly;
    
}

img{border-radius: 100%;}
.btn-hover {
    transition: transform 1s;
}
.btn-hover:hover {
   transform: scale(1.2);}

   .ceo-image {
    display: block;
    margin:auto;
}
.pie{

    height: 5em;

}
.form-control{resize: none;}

@media (max-width: 767px) {
    .header {
      flex-direction: column;
      text-align: center;
    }
    .col-md-3 {
      flex: 1;
      margin: 5px;
    }
  
    .info-container p {
      font-size: 14px;
    }
  
    .ceo-image {
      max-width: 100%;
      display: block;
      margin: auto;
    }
  }
  
  
  .info-container {
    background-size: 50%;
    background-color: rgba(254, 193, 236, 0.379);
    text-align: justify;
    margin-top: 1em;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3%;
    padding: 10px; 
  }
  .espada {
    width: 2em; 
    height: auto;
}